* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#regs {
  margin-top: 10px;
}

.debugColumns {
    display: flex;
    width: 600px;
}

.debugColumns > div {
    margin-right: 10px;
}

#memory {
    width: 65%;
    max-height: 400px;
    overflow-y: scroll;
}
