* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.debugColumns {
    width: 1000px;
}

.debugColumns > div {
    margin-right: 10px;
}

#memoryBanks {
    display: flex;
}

#memoryBanks > span {
    width: 200px;
}

#memoryBanks .activeBank {
    /* background-color: lightgreen; */
}

#memoryBanks .inactiveBank {
    /* background-color: grey; */
}

#video {
    width: 256px;
    height: 256px;
}

register {
  margin-right: 5px;
}

bankview {
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 1em;
}

memoryview {
    display: block;
    white-space: nowrap;
}

/* remaining palette colors (https://colorhunt.co/palette/220258)
 * rgb(138, 203, 174)
 * rgb(234, 161, 77)
 */
memoryview.highlightedInstruction {
    background-color: rgb(228, 58, 59) !important;
}

memoryview.recentlyExecuted {
    background-color: rgb(240, 230, 181);
}

memoryview.jumpToAddr {
    cursor: pointer;
}

.stackAndVideo {
    display: flex;
    margin-top: 20px;
}

stackbyte {
    display: block;
}

stackbyte.stackBottom {
    background-color: rgb(228, 58, 59);
}
