* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

Register {
  margin-right: 5px;
}

.debugColumns {
    width: 700px;
}

.debugColumns > div {
    margin-right: 10px;
}

#memoryBanks {
    display: flex;
}

#memoryBanks > span {
    width: 200px;
}

#memoryBanks .activeBank {
    background-color: green;
}

#memoryBanks .inactiveBank {
    background-color: grey;
}

#video {
    width: 256px;
    height: 256px;
}

BankView {
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 1em;
}

MemoryView {
    display: block;
    white-space: nowrap;
}
